* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(60, 60, 60);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between0
  align-items: center;

  nav{
    a{
        text-decoration: none;
        color: white;
        padding: 0.5rem;
    }
  }
}

main {
    min-height: calc(100vh - 60px);
}
